/* Write your CSS here */
.matches-main-container {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.rcb {
  background-image: linear-gradient(to top, #1e293b, #a4261d);
}
.kkr {
  background-image: linear-gradient(to top, #1e293b, #5755a7);
}
.kxp {
  background-image: linear-gradient(to top, #1e293b, #d91c1f);
}
.csk {
  background-image: linear-gradient(to top, #1e293b, #f7db00);
}
.rr {
  background-image: linear-gradient(to top, #1e293b, #da237b);
}
.mi {
  background-image: linear-gradient(to top, #1e293b, #13418b);
}
.srh {
  background-image: linear-gradient(to top, #1e293b, #f26d22);
}
.dc {
  background-image: linear-gradient(to top, #1e293b, #4f5db0);
}
.latest {
  color: #ffffff;
}
.match-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-image {
  width: 100%;
}
.back-btn {
  background-color: #34ebc3;
  color: #000000;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
}
